@import "tailwindcss";


:root {
  --background: #fff;
  --foreground: #ededed;
  --color-primary: #5217f6;
  --color-secondery: #0F295D;
  --color-third: #212341;
  --color-blue-shadow: #2C00A7;
  --color-super-dark-blue: #16153A;
  --color-text: #0F0F0F;
  --color-black: #000000;
  --color-gray: #B3BBC7;
  --color-white: #FFFFFF;
  --color-light-gray: #F8F9FB;
  --color-red: #EE273A;
  --color-orange: #ff9f42;
  --red-shadow: rgba(238, 39, 58, 0.44);
  --color-yellow: #FFD400;
  --color-custom-green: #49BE78;
  --color-text-dark: #2D365D;
  --font-yekan-akh: var(--font-yekan-bakh);
}

@theme {
  --color-primary: #5217f6;
  --color-secondery: #0F295D;
  --color-third: #212341;
  --font-yekan-bakh: var(--font-yekan-bakh);

}


body {

  font-family: var(--font-yekan-akh);
  direction: rtl;
}

@font-face {
  font-family: 'yekan-bakh';
  src: url('/fonts/yekan-bakh/Yekan-Bakh-FaNum-01-Hairline.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'yekan-bakh';
  src: url('/fonts/yekan-bakh/Yekan-Bakh-FaNum-02-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'yekan-bakh';
  src: url('/fonts/yekan-bakh/Yekan-Bakh-FaNum-03-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'yekan-bakh';
  src: url('/fonts/yekan-bakh/Yekan-Bakh-FaNum-04-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'yekan-bakh';
  src: url('/fonts/yekan-bakh/Yekan-Bakh-FaNum-05-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'yekan-bakh';
  src: url('/fonts/yekan-bakh/Yekan-Bakh-FaNum-06-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'yekan-bakh';
  src: url('/fonts/yekan-bakh/Yekan-Bakh-FaNum-07-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'yekan-bakh';
  src: url('/fonts/yekan-bakh/Yekan-Bakh-FaNum-08-Fat.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}


@layer utilities {
  .container {
    @apply mx-auto px-4 md:px-2 2xl:px-14
  }

}

@layer utilities {

  .font-yekan-bakh {
    font-family: yekan-bakh
  }

  .justify-last-center {
    text-align: justify;
    text-align-last: center;
  }

  .swal-modal {
    font-family: yekan-bakh !important;
    border-radius: 25px !important;
  }


  .swal-title {
    color: #0F295D !important;
  }

  .swal-button {
    background-color: #5217f6 !important;
    border-bottom: 4px #2C00A7 !important;
  }
  .swal-button--cancel{
    background-color: #fb2c36 !important;
    color: #fff !important;
  }

  .input {
    @apply border border-gray-300 rounded-xl p-2 w-full focus:outline-none focus:ring-2 focus:ring-secondery text-sm;
  }

  .ck-content h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0.67em 0;
  }

  .ck-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.75em 0;
  }
  .btn{
    width: 10%;
    height: 40px;
}

  .ck-content h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.75em 0;
  }

  .rich-text h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .rich-text h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .rich-text h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .rich-text p {
    font-size: 16px;
    text-align: justify;
  }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}





}